<%= render 'shared/notice' %>

<%= link_to 'New Tweet', new_tweet_path, class: "btn btn-primary pull-right" %>
<h1>Tweets</h1>

<% @tweets.each do |tweet| %>
  <div class="card w-100">
    <div class="card-body">
      <h4 class="card-title">
        <%= tweet.user.name %>
        <% if current_user == tweet.user %>
          <%= link_to 'Edit', edit_tweet_path(tweet), class: "btn btn-sm btn-secondary pull-right" %>
        <% end %>
      </h4>
      <h6 class="card-subtitle mb-2 text-muted"><%= tweet.user.formatted_username %></h6>
      <p class="card-text"><%= tweet.content %></p>
      <a href="#" class="card-link">Like</a>
      <a href="#" class="card-link">Reply</a>
    </div>
  </div>
  <br />
<% end %>
