<%= render 'shared/notice' %>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>
<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>
<p>
  <strong>Username:</strong>
  <%= @user.formatted_username %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
