<!DOCTYPE html>
<html>
  <head>
    <title>Twitter</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-light" style="background-color: #e3f2fd; margin-bottom: 20px;">
        <div class="container d-flex justify-content-between">
          <%= link_to "Twitter", root_path, class: "navbar-brand" %>
          <form class="form-inline my-2 my-lg-0">
            <% if current_user %>
              <%= link_to 'Logout', :logout, method: :post, class: "btn btn-info btn-sm" %>
            <% else %>
              <div class="btn-group" role="group" aria-label="Basic example">
                <%= link_to 'Login', :login, class: "btn btn-info btn-sm" %>
                <%= link_to 'Sign Up', :signup, class: "btn btn-info btn-sm" %>
              </div>
            <% end %>
          </form>
        </div>
      </nav>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
